@import "tailwindcss";


:root {
  --primary-color: #646cff;
  --background-color: #242424;
  --button-bg: #1a1a1a;
}

a {
  color: var(--primary-color);
}

button {
  background-color: var(--button-bg);
}

body {
  background-color: var(--background-color);
}
